[Unit]
Description=OpenArena server
After=network.target

[Service]
Type=simple
User=openarena
ExecStart=/home/openarena/openarena/oa_ded.i386 +set dedicated 2 +exec server.cfg 

[Install]
WantedBy=multi-user.target
